@charset "UTF-8";
//======================================================================================================================
* {
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body{
	padding: 2em 0;
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic ProN", -apple-system, BlinkMacSystemFont, Meiryo, sans-serif;
	font-size: calc(16 / 750 * 100vw); font-weight: 300;
	line-height: 1.5;
	color: #333;
	-webkit-text-size-adjust: 100%;
	position: relative;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
select {
	text-transform: capitalize;
}
h1, h2, h3 {
	margin: 0;
}
h1 {
	font-size: calc(36 / 750 * 100vw);
	line-height: 1;
	text-align: center;
}
h2 {
	font-size: calc(32 / 750 * 100vw);
	line-height: 1;
	text-align: left;
}
h3 {
	font-size: calc(28 / 750 * 100vw);
	line-height: 1;
	text-align: left;
}
a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
p {
	margin: 0;
}
img{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
@include media(pc) {
	body {
		font-size: 1.6rem;
	}
	h1 {
		margin-bottom: 30px;
		font-size: 3.6rem;
	}
	h2 {
		font-size: 2.4rem;
	}
	h3 {
		font-size: 2rem;
	}
	a {
		font-size: 1.2rem;
	}
}
/*-------------------------------------------------
	main
--------------------------------------------------*/
.category {
	&__wrap {
		margin: 0 auto; margin-bottom: 30px;
		padding: 20px 40px;
		display: flex;
		justify-content: center;
	}
	&__inner {
		&:not(:last-child) {
			margin-right: 10px;
		}
		select {
			padding: .8em 2em;
			width: 150px; height: 40px;
			font-size: 1.2rem; font-weight: 500;
			line-height: 20px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0px;
			background: url(../img/arrow-select.svg) right 10px top 14px /contain no-repeat;
			background-size: 20px 10px;
			cursor: pointer;
		}
		.button {
			padding: .8em 2em;
			width: 100px; height: 40px;
			font-size: 1.2rem; font-weight: 400;
			line-height: 20px;
			text-align: center;
			background: #05b1d0;
			cursor: pointer;
		}
	}
}
.news {
	&__wrap {
		margin: 0 auto;
		max-width: 960px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		@media screen and (max-width: 1024px) {
			max-width: 630px;
		}
		@media screen and(max-width: 767px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&__list {
		margin-right: 30px; margin-bottom: 30px;
		width: 300px;
		a {
			width: 100%;
			box-shadow: 0 0 15px 0 #ccc;
			-webkit-backface-visibility: hidden;
    		backface-visibility: hidden;
			transition: transform .3s ease-in-out;
			filter: alpha(opacity=100);
			opacity: 1;
			&:hover {
				transform: scale(1.02);
			}
		}
		@media screen and (min-width: 1025px) {
			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
		@media screen and(max-width: 1024px) {
			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
		@media screen and(max-width: 767px) {
			margin-right: 0;
		}
	}
	&__block {
		&-img {
			height: 200px;
			overflow: hidden;
			position: relative;
			img {
				width: auto;
				height: 200px;
				position: absolute;
				top: 50%; left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
		&-txt {
			padding: 1em;
			height: 114px;
			height: calc(90px + 2em);
			background: #03b1d0;
		}
	}
	&__ttl {
		font-size: 1.2rem; font-weight: 400;
		line-height: 1.5;
		//visibility: hidden;
	}
}