<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ニュース検索まとめ</title>
	<link rel="stylesheet" type="text/css" href="./css/base.css">
</head>
<body>
	<h1>今日のトップニュース</h1>
    <div class="container" id="app">
    	<section class="category">
			<form>
				<div class="category__wrap">
					<div class="category__inner">
						<select v-model="section">
							<option v-for="section in sections" v-bind:value="section.value">{{ section.name }}</option>
						</select>
					</div>
					<div class="category__inner">
						<a v-on:click="getPosts(section)" class="button">絞り込む</a>
					</div>
				</div>
			</form>
    	</section>
    	<section class="news">
			<ul class="news__wrap">
			  <li class="news__list animated fade-in-up" v-for="result in results">
			  	<a :href="result.url">
					<p class="news__block-img"><img :src="result.urlToImage"></p>
					<div class="news__block-txt">
						<h2 class="news__ttl">{{ result.title }}</h2>
					</div>
			  	</a>
			  </li>
			</ul>
    	</section>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="./js/vue.js"></script>
</body>
</html>